<app-side-menu>
  <button mat-fab extended [matMenuTriggerFor]="newMenu" class="new-btn">
    <mat-icon>add</mat-icon>
    Nowy
  </button>
  <app-menu-action href="/root" icon="home">Home</app-menu-action>
  <app-menu-action href="/photo" icon="photo">Photo</app-menu-action>
  <app-menu-action href="/trash" icon="delete">Trash</app-menu-action>
</app-side-menu>
<main class="main">
  <app-toolbar [username]="auth.username" />
  <router-outlet />
</main>
<mat-menu #newMenu="matMenu">
  <button mat-menu-item (click)="createFolder()">
    <mat-icon>create_new_folder</mat-icon>
    <span>New Folder</span>
  </button>
  <mat-divider />
  <button mat-menu-item>
    <mat-icon>upload_file</mat-icon>
    <span>Upload File</span>
  </button>
</mat-menu>
