:host {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.new-btn {
    margin-bottom: 2rem;
}
