<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <div>You be logout after password change</div>
  <form [formGroup]="changePasswordGroup" class="form">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password2"
          placeholder="Password"
        />
        <mat-error>{{
          changePasswordGroup.controls.password2.getError("matchError")
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="passwordChanged">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="passwordChanged"
    (click)="save()"
    [disabled]="!changePasswordGroup.valid || !changePasswordGroup.dirty"
  >
    Save
  </button>
</mat-dialog-actions>
